<div class="my-5">
  <div class="shadow bg-light mt-5">
    <img
      src="../../assets/images/certificates/python_ibhub.jpg"
      alt="Python and OOP concepts"
      class="full-width"
    />
  </div>
  <div class="shadow bg-light mt-5">
    <img
      src="../../assets/images/certificates/python_google.jpg"
      alt="Crash course on python"
      class="full-width"
    />
  </div>
  <div class="shadow bg-light mt-5">
    <img
      src="../../assets/images/certificates/python_OS.jpg"
      alt="Using python to interact with OS"
      class="full-width"
    />
  </div>
  <div class="shadow bg-light mt-5">
    <img
      src="../../assets/images/certificates/git_github.jpg"
      alt="Introduction to Git and Github"
      class="full-width"
    />
  </div>
  <div class="shadow bg-light mt-5">
    <img
      src="../../assets/images/certificates/c++.jpg"
      class="full-width"
      alt="C++ and STL"
    />
  </div>
</div>
