/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(
    to bottom,
    #333333 0%,
    #333333 350px,
    #ededed 350px,
    #eeddee 100%
  );
}
.hrefWithoutDecoration {
  text-decoration: none;
}
.full-width {
  width: 100%;
}
